@model IEnumerable<MyASPWeb.Models.Restaurant>

@{
    ViewData["Title"] = "Daftar Restaurant";
}

<h1>Daftar Restaurant</h1>
<a asp-action="Create" class="btn btn-primary">Tambah</a><br /><br />
<p>Username anda: @ViewData["Username"] dan Alamat: @ViewBag.Resto.Name</p>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">@ViewBag.Message</div>
    <br />
}

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>&nbsp;</th>
                <td>&nbsp;</td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td><a class="btn btn-warning btn-xs" asp-action="Edit" asp-route-id="@item.Id">edit</a></td>
                    <td><a class="btn btn-danger btn-xs" asp-action="Delete" asp-route-id="@item.Id">delete</a></td>
                    <td><a class="btn btn-primary btn-xs" asp-action="Details" asp-route-id="@item.Id">details</a></td>
                </tr>
            }
        </table>
    </div>
</div>
